<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'provider_allusers' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <label for="">Name</label>
        <input type="text" name="p_name"><br>
        <label for="">Email</label>
        <input type="email" name="p_email"><br>
        <label for="">Car Name</label>
        <input type="text" name="car_name"><br>
        <label for="">Seats available</label>
        <input type="text" name="seats_available"><br>
        <button id="button2">Submit</button>
    </form>
</body>
</html>